<h1>Quotes</h1>

<div class="container">
<%= paginate @quotes, window: 1 %>
<table class="table table-hover table-light">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">carrier_key</th>
      <th scope="col">status</th>
      <th scope="col">message</th>
      <th scope="col">premium</th>
      <th scope="col">coverages</th>
      <th scope="col">show</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.id %></td>
        <td><%= quote.carrier_key %></td>
        <td><%= quote.status %></td>
        <td><%= quote.message %></td>
        <td><%= quote.premium %></td>
        <td><%= quote.coverages %></td>
        <td><%= link_to "Show details", import_quote_path(quote.import_id, quote) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @quotes, window: 1 %>
</div>
