<p>
  <strong>Carrier:</strong>
  <%= @quote.carrier_key %>
</p>
 
<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<p>
  <strong>Message:</strong>
  <%= @quote.message %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @quote.premium %>
</p>

<p>
  <strong>Coverages:</strong>
  <%= @quote.coverages %>
</p>
<%= link_to 'Back', import_quotes_path %>
