<%= form_with(model: import, multipart: true, local: true,:html => {:class => 'upload'} ) do |form| %>
  <div class='field'>
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title,:id => 'input' %>
  </div>

  <div class='field'>
    <%= form.file_field :file,:id => 'choose_file' %>
  </div>

  <div class='actions'>
    <%= form.submit 'Upload',:class => 'btn btn-primary' %>
  </div>
<% end %>
