<!-- dummy -->
<!-- link_to "Export CSV", import_path(format: :csv) %> -->
<div class="import-file-table">
  <%= paginate @imports, window: 1 %>
  <table class="table table-hover table-color">
    <thead class="head-table thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Partner name</th>
        <th scope="col">Customers count</th>
        <th scope="col">Invalid count</th>
        <th scope="col">Quote count</th>
        <th scope="col">Action</th>
        <th scope="col">Report</th>
      </tr>
    </thead>
    <% @imports.each do |import| %>
      <tbody>
      <tr>
        <td>
          <%= link_to import.title, import.file.to_s %>
        </td>
        <td><%= import.partner.name %></td>
        <td><%= import.customers.count %></td>
        <td><%= import.fail_reasons.count %></td>
        <td><%= import.quotes.count %></td>
          <% if import.status == 'created' %>
          <td>
            <%= link_to('Start import', imports_parse_csv_file_path(id: import.id), class: 'btn btn-primary') %>
          </td>
          <td></td>
        <% else %>
          <td>
            <%= link_to('Start Quoting', imports_start_quoting_path(id: import.id), class: 'btn btn-secondary') %>
          </td>
          <td>
            <%= link_to 'Generate', imports_generate_report_path(id: import.id, format: :csv), class: 'btn btn-primary' %>
          </td>
        <% end %>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>
