<div class="middle_block">
  <h1>Welcome to</h1>
  <h1>Insuranse House Service</h1>
  <% unless user_signed_in?%>
  <p>Please, Login If You Are Cooperator</p>
  <%= link_to '<button type="button", class="btn btn-primary", id="button1">Login</button>'.html_safe, new_user_session_path %>
  <% else %>
    <% if current_user.manager?%>
    <%= link_to '<button type="button", class="btn btn-primary", id="button1">Back To Dashboard</button>'.html_safe, imports_path %>
    <% elsif current_user.agent?%>
    <%= link_to '<button type="button", class="btn btn-primary", id="button1">Back To Dashboard</button>'.html_safe, new_import_path %>
    <% end %>
  <% end %>
</div>
