<!DOCTYPE html>
<html>
  <head>
    <title>InsuranceHouseService</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-danger", :id => "sign_out") if user_signed_in? %>

    <% if user_signed_in? %>
      <% flash.each do |_, message| %>
        <div id="notice_wrapper_green">
          <h3 class="notice"><%= content_tag(:div, message) %></h3>
        </div>
      <% end %>
    <% else %>
      <% flash.each do |_, message| %>
        <div id="notice_wrapper_red">
          <h3 class="notice"><%= content_tag(:div, message) %></h3>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
